
.btn-success{
	background-image: linear-gradient(to bottom,hsl(105, 100%, 39%) 0,#4C9D1F 100%);
}

/* - Header - */
.login-btn{
	float: right;
	margin-right: 5%;
	margin-top: 2%;
}

header{
	clear:both;
}

.logo{
	margin-left:auto;
	margin-right:auto;
	max-height: 200px;
}

.contact-info{
	margin-top: 24px;
}

nav.navbar{
	margin-bottom: 0;
}

/* - main content area -*/

.bg{

	background: url('../images/banner.png') no-repeat center center;
	min-width:100%;
	height:auto;
	z-index:-1;
}
.jumbotron{

	background: transparent;
}

.inner-main-content{
	
}

.vehicle-img{
	margin-top: 100px;
}

.employee-login{
	text-align: center;
	margin-top: 50px;
}
/* - footer -*/

footer.navbar{
	margin-bottom:0;
	
}

footer.navbar p{
	text-align: center;
	line-height: 50px;

}